project/target/
target/
*.pyc
client/js/build/ophion.js
client/js/node_modules
.lein-repl-history
.nrepl-port
.lein-failures
node_modules
npm-debug.log
.repl
*_pb2.py
pom.xml*
resources/config/event.clj
