project/target/
target/
client/js/build/ophion.js
client/js/node_modules
.lein-repl-history
.nrepl-port
.lein-failures
node_modules
npm-debug.log
.repl
*_pb2.py
pom.xml*
# Python temps
__pycache__/
*.py[cod]
*$py.class
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
.tox/
client/R/*.tar.gz
.Rproj.user
.Rhistory
.RData